.product-list-img{
    justify-content:center; 
    height: 250px;
    width: auto;
}

.product-detail-img{
    justify-content: center;
    height: 400px;
    width: auto;
}

.btn {
    text-transform: unset;
}

.product-cart-img {
    justify-content: center;
    height: 75px;
    width: auto;
}


#cart {
  position: absolute;
  right: 10px;
  top: 2px;
  background-color: red;
  color: white;
}

.scroll-menu {
    width: auto;
    max-height: 500px;
    overflow: auto;
}