{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load shop_tags %}

{% block title %}Checkout{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h3>Checkout</h3>
        <div class="row">
            <div class="col-md-7 m-1">
                <div class="card card-light">
                    <div class="card-header">
                        <h6>Fill in the following form</h6>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input type="submit" class="btn btn-success" value="Place order">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 m-1">
                <div class="card card-light">
                    <div class="card-header">
                        <h6>Your order</h6>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for item in cart %}
                                <li>
                                    {{ item.quantity }} x {{ item.product.name }} 
                                    <span style="float:right;">${{ item.total_price|apply_thousand_seperator }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="text-primary text-right"><strong>Total: ${{ cart.get_total_price|apply_thousand_seperator }}</strong></p>
                </div>
            </div>
        </div>        
    </div>
{% endblock %}