{% extends "core/base.html" %}

{% block title %}Thank you{% endblock %}

{% block content %}
    <div class="card card-light">
        <div class="card-body">
            <h6>Thank you</h6>
            <div class="card-text">
                <p>
                    Your order has been successfully completed. Your order number is 
                    <strong>{{ order.id }}</strong>
                </p>
            </div>
        </div>
    </div>
{% endblock %}