{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% load shop_tags %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-5 pt-4">
            <div class="col-md-4 ml-4 mb-4 p-4">
                <img class="img-fluid product-detail-img" src="{{ product.image.url }}" alt="">
            </div>
            <div class="col-md-6 mb-4">
                <div class="p-4">
                    <p class="lead font-weight-bold">{{ product.name }}</p>
                    <div class="mb-3">
                        <a href="">
                            <span class="badge badge-info mr-1">{{ product.category }}</span>
                        </a>
                        <a href="">
                            <span class="badge badge-primary mr-1">New</span>
                        </a>
                        <a href="">
                            <span class="badge badge-danger mr-1">Bestseller</span>
                        </a>
                    </div>        
                    <p class="lead">
                        <span>${{ product.price|apply_thousand_seperator }}</span>
                    </p>
                    <p class="lead font-weight-bold">Description</p>
                    <p>{{ product.description }}</p>
                    <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                        <div class="row">
                            <div class="col-sm-3">
                                {{ cart_product_form|crispy }}
                                {% csrf_token %}        
                                <button class="btn btn-primary" type="submit">Add to cart
                                    <i class="fas fa-shopping-cart ml-1"></i>
                                </button>        
                            </div>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
        <hr>
    </div>
{% endblock %}