{% extends 'core/base.html' %}
{% load static %}
{% load shop_tags %}

{% block title %}Shop{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-11">
                <!-- CATEGORIES -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3 mb-5">

                    <!-- Navbar brand -->
                    <span class="navbar-brand">Categories</span>
            
                    <!-- Collapse button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="basicExampleNav">
            
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                            <a class="nav-link {% if not category %}active{% endif %}" 
                                    href="{% url 'shop:product_list' %}">All</a>
                            </li>
                            {% for c in categories %}
                                <li class="nav-item">
                                    <a class="nav-link {% if c.slug == category.slug %}active{% endif %}" 
                                        href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                                </li>
                            {% endfor %}

                        </ul>
                    <!-- Links -->
                    
                        <!-- Search String Form -->
                        <form action="?search_str=" method="GET" class="form-inline">
                            <div class="md-form my-0">
                                <input class="form-control mr-sm-2" name="search_str" type="text" placeholder="Search" aria-label="Search">
                                <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <!-- Collapsible content -->
                </nav>
                <!--/.Navbar-->    
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="container-fluid">
        <div class="row">           
            <div class="col-sm-1">
            </div>
    
            <div class="col-md-11">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <!-- Sorting -->
                        <ul class="nav nav-pills">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-sort"></i>
                                    {% if sorted_by %}
                                        {{ sorted_by }}
                                    {% else %}
                                        Sort By 
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu">
                                    {% comment %}
                                    When sorting is applied pagination offset. If you do not want this behaviour,
                                    delete p='' in href elements in a tags.
                                    {% endcomment %}
                                    <a class="dropdown-item" href="?{% param_replace sort_by='lowest_price' p='' %}">Lowest price to highest</a>
                                    <a class="dropdown-item" href="?{% param_replace sort_by='highest_price' p='' %}">Highest price to lowest</a>
                                    <a class="dropdown-item" href="?{% param_replace sort_by='newest' p='' %}">Newest to oldest</a>
                                    <a class="dropdown-item" href="?{% param_replace sort_by='oldest' p='' %}">Oldest to newest</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 d-flex justify-content-end">
                        {% include 'shop/pagination.html' with page=products %}
                    </div>  
                </div>
            </div>
        </div>    
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Placeholder for filter or another sidebar -->
            <div class="col-sm-1">
            </div>
            <div class="col-md-11">
                <div class="row justify-content-center">
                    {% for product in products %}
                        <div class="card col-lg-3 col-md-4 m-2">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.image.url }}" class="card-img-top product-list-img" alt="...">
                            </a>
                            <div class="card-body">
                                <h6>{{ product.name }}</h6>
                                <div class="d-flex flex-row justify-content-between">
                                    <div>
                                        <h5 class="text-info">${{ product.price|apply_thousand_seperator }}</h5>
                                    </div>                                    
                                    <div>
                                        <a href="{{ product.get_absolute_url }}" class="btn btn-outline-primary">Detail</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h5>No products found</h5>
                    {% endfor %}      
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-md-11">
                <div class="row justify-content-center">
                    <div class="col-md-6"></div>
                    <div class="col-md-4 d-flex justify-content-end">
                        {% include 'shop/pagination.html' with page=products %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}