<!-- Pagination -->
{% load shop_tags %}

<div class="row">
    <div class="mr-1">
        {% if page.has_previous %}
            <a href="?{% param_replace p=page.previous_page_number %}" class="btn btn-dark">&laquo;</a>
        {% else %}
            <a href="" class="btn btn-dark disabled">&laquo;</a>
        {% endif %}
    </div>
    <div class="btn-group mr-1">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ page.number }}
        </button>
        <div class="dropdown-menu scroll-menu">
            {% for n in range %}
                <a class="dropdown-item" href="?{% param_replace p=n %}">{{n}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="mr-1">
        <a class="btn btn-light disabled" href="#"><strong>/</strong></a>          

    </div>
    <div class="mr-1">
        <a class="btn btn-dark" href="?{% param_replace p=page.paginator.num_pages %}">{{page.paginator.num_pages}}</a>
    </div>
    <div class="mr-1">
        {% if page.has_next %}
            <a href="?{% param_replace p=page.next_page_number %}" class="btn btn-dark">&raquo;</a>
        {% else %}  
            <a href="" class="btn btn-dark disabled">&raquo;</a>
        {% endif %}
    </div>
</div>