{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load shop_tags %}

{% block title %}Your shopping cart{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card border-light">
                    <div class="card-body">
                        <h4 class="card-title">Your cart</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Remove</th>
                                    <th>Unit Price</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                    {% with product=item.product %}
                                        <tr>
                                            <td>
                                                <a href="{{ product.get_absolute_url }}">
                                                    <img class="product-cart-img" src="{{ product.image.url }}" alt="">
                                                </a>
                                            </td>
                                            <td>{{ product.name }}</td>
                                            <td>
                                                <form method="POST" action="{% url 'cart:cart_add' product.id %}" class="form-group">
                                                    <div class="d-flex">
                                                        {{ item.update_quantity_form.quantity }}
                                                        {{ item.update_quantity_form.override }}
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-redo"></i> Update</button>
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{% url 'cart:cart_remove' product.id %}" method="POST">
                                                    <button type="submit" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> Remove</button>
                                                    {% csrf_token %}
                                                </form>
                                            </td>
                                            <td class="">${{ item.price|apply_thousand_seperator }}</td>
                                            <td class="">${{ item.total_price|apply_thousand_seperator }}</td>
                                        </tr>
                                    {% endwith %}
                                {% empty %}
                                <tr>
                                    <td colspan="6">
                                        <p class="card-text">No item in your cart</p>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td>Subtotal</td>
                                    <td colspan="4"></td>
                                    <td><strong>${{ cart.get_total_price|apply_thousand_seperator }}</strong></td>
                                </tr>
                            </tbody>
                        </table>
                        <hr>
                        <p class="text-right mb-5">
                            <a class="btn btn-outline-info" href="{% url 'shop:product_list' %}">Continue shopping</a>
                            <a class="btn btn-primary" href="{% url 'orders:order_create' %}">Checkout</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}